*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.header{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.side-nav{
    width:250px;
    height:100%;
    background: #0d74f5;
    position: fixed;
    top:0;
    left:0;
    padding: 20px 30px;
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logo{
    display:block;
    margin-bottom: 130px;
}
.logo-img{
    width:70px;
    height: 40px;
}
.nav-links{
    list-style: none;
    position:relative;
    bottom:50px;
}
.nav-links li{
    padding:10px 0;

}
.nav-links li a{
    color:#fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    font-size: 25px;
    margin-right:20px;
}
.nav-link{
    list-style: none;
    position:relative;
}
.nav-link li{
    margin-bottom:30px 20px;
}
.nav-link li a{
    color:#fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.nav-link li a i{
    font-size: 25px;
    margin-right:20px;
}
.active{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left:0;
    top:2.6%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.5s;
}

.active-1{
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left:0;
    top:2.6%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.5s;
}
.nav-link li:hover a{
    color: #0d74f5;
    transition: 0.3s;
}
.nav-link li:hover ~ .active-1{
    display: block; 
}
.nav-links li:hover a{
    color:#0d74f5;
    transition: 0.3s;
}
.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(1):hover  ~ .active{
    top:2.6%;
}
.nav-links li:nth-child(2):hover  ~ .active{
    top:22.2%;
}
.nav-links li:nth-child(3):hover  ~ .active{
    top:41.8%;
}
.nav-links li:nth-child(4):hover  ~ .active{
    top:61.4%;
}
.nav-links li:nth-child(5):hover  ~ .active{
    top:82.6%;
}
.nav-link li:nth-child(1):hover ~ .active-1{
    bottom:15%;
}



@media only screen and (max-width:600px) {
    .side-nav{
        width: 110px;
    }
    .nav-links li a p{
        display:none;
    }
    .nav-link li a p{
        display:none;
    }
    .nav-links li a i{
        margin-right: 0;
    }
    .nav-links li a{
        justify-content: center;
    }
}